@import "nullstyle.scss";
//------------------------Null styles-----------------------------

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}

//------------------------Null input number------------------------



@font-face {
   font-family: Poppins;
   src: url('../font/Poppins-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: Poppins Italic;
   src: url('../font/Poppins-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: Poppins Bold;
   src: url('../font/Poppins-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: Poppins Bold Italic;
   src: url('../font/Poppins-BoldItalic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: Poppins ExtraBold;
   src: url('../font/Poppins-ExtraBold.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: Poppins ExtraBold Italic;
   src: url('../font/Poppins-ExtraBoldItalic.ttf');
   font-weight: 900;
   font-style: italic;
}


//! mobile-first
body{
   background: #F0F0F0;
}

.content {
   height: 100%;
}
.wrapper {
   width: 100%;
   margin: 0 auto;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.calculator {
   width: 90%;
   position: relative;
   max-width: 840px;
   height: 487px;
   background-color: #fff;
   border-radius: 25px 25px 100px 25px;
   padding-top: 48px;
   gap: 28px ;
   padding: 25px;
      &__calculate{
         text-align: center;
         position: relative;
      }
      &__calculate::before{
         content: "";
         position: absolute;
         top: 50%;
         left: 0;
         right: 0;
         height: 1px;
         background-color: black;
         z-index: 0;
      }
      &__line{
         width: 1px;
      }
		// .calculator__button

		&__button {
         position: relative;
         z-index: 1;
         width: 64px;
         height: 64px;
         background-color: hsl(259, 100, 65);
         background-image: url(../img/icon-arrow\ 1.png);
         background-size: 33px;
         background-repeat: no-repeat;
         background-position: center;
         border-radius: 50%;
         img{
            width: 32px;
            height: 32px;
         }
         margin-top: 32px;
         margin-bottom: 32px;
         transition-property: initial;
         transition: background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
         
		}
      &__button:hover{
         transition: background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
         background-color: #141414;
      }
      &__button:active{
         transition: background-color 0s cubic-bezier(0.215, 0.61, 0.355, 1);
         background-color: #7c42fa;
      }
}
.datebox {
   max-width: 544px;
   transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) color;
   display: flex;
   justify-content: space-around;
   gap: 16px;
   font-family: Poppins ExtraBold;
   color: #6A6A6A;
   letter-spacing: 2.76px;
   font-size: 12px;
   line-height: 20px;
   input{
      transition: 1s border, 0.5s box-shadow;
      font-size: 20px;
      font-family: Poppins Bold;
      padding: 16px;
      border: 1px solid #C0C0C0;
      border-radius: 7px;
      height: 54px;
      width: 100%;
      max-width: 160px;
   }
   input:hover{
      transition: 0.3s border;
      border: 1px solid hsl(259, 100, 65)
   }
   input:focus{
      transition: 0.5s box-shadow;
      box-shadow: 5px 5px 15px #1414142f; 
   }
   input::placeholder{
      color: #7D7D7D;
   }
   p{
      color: hsl(0, 100, 67);
      max-width: 160px;
      text-wrap: nowrap;
      padding: 5px;
      font-family: Poppins italic;
      letter-spacing: 0px;
   }
		// .datebox__day

		&__day {
         display: flex;
         flex-direction: column;
		}

		// .datebox__day--error

		&__day--error {
		}

		// .datebox__month

		&__month {
         display: flex;
         flex-direction: column;
		}

		// .datebox__month--error

		&__month--error {
		}

		// .datebox__year

		&__year {
         display: flex;
         flex-direction: column;
		}

		// .datebox__year--error

		&__year--error {
		}

      &__error{
         transition: 1s color, 1s border;
         color: hsl(0, 100, 67);
         input{
            border: 1px solid hsl(0, 100, 67);
         }
         input::placeholder{
            transition: 1s color;
            color: hsl(0, 100, 67);
         }
      }
}
.result {
   display: flex;
   flex-direction: column;
   color: #141414;
   font-family: Poppins ExtraBold;
   font-size: 50px;
   font-style: italic;
   font-weight: 900;
   line-height: normal;
   span{
      color: #874CFE;
      font-family: Poppins ExtraBold;
      font-size: 50px;
      font-style: italic;
      font-weight: 900;
      line-height: normal;
   }
		// .result__year

		&__year {

		}

		// .result__month

		&__month {
		}

		// .result__day

		&__day {
		}
}

@media (min-width: 880px){
   .calculator{
      height: 651px;
      padding: 56px;
      border-bottom-right-radius: 200px;
      &__calculate{
         text-align: end;
      }
      &__button{
         margin: 0;
         width: 91px;
         height: 91px;
      }
   }
   .datebox{
      font-size: 14px;
      input{
         font-size: 32px;
         height: 72px;
         padding-left: 24px;
      }
   }
   .result{
      font-size: 100px;
      &__day{
         height: 115px;
      }
      &__month{
         height: 115px;
      }
      &__year{
         height: 115px;;
      }
      span{
         font-size: 100px;
      }
   }
}
